@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
}

.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.4s ease;
}

.navbar.sticky{
    background: #1b1b1b;
    padding: 10px 0;
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list{
    display: inline-flex;
}

.navbar .menu-list li{
    list-style: none;
}

.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.menu-list li a:hover{
    color: cyan;
}

.banner{
    height: 100vh;
    background: url(../../../ImagenesRestaurante/fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner2{
    height: 100vh;
    background: url(../../../ImagenesRestaurante/fondo2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner3{
    height: 100vh;
    background: url(../../../ImagenesRestaurante/fondo3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about{
    padding: 40px 0;
}

.about .title{
    font-size: 35px;
    font-weight: 700;
}

.about p{
    padding-top: 30px;
    text-align: justify;
}

.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}


@media (max-width: 868px)
{
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.4s ease;
    }
    .navbar .menu-list.active{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;

    }
}


/*-----------------------------------------------------------------------------*/


.title{
    text-align: center;
    font-size: 40px;
    color: #444343;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.container .title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.phrases{
    text-align: center;
    size: 90px;
}

.btcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    text-align: center;
  }

